{% set navbuttons = 
    [
        {
            'title' : 'Dining',
            'style' : 'color: #ffffff; top: 0; text-align:right;',
            'class' : 'grid-3sm-2big-small',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_Spa02.jpg',
            'href' : '/dining/'
        },
        {
            'title' : 'Honeymoons',
            'style' : 'color: #000000; bottom: 0; text-align: center;',
            'class' : 'grid-3sm-2big-large',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_TurksAndCaicos_Cuisine01.jpg',
            'href' : '/honeymoons/'
        },
        {
            'title' : 'Families',
            'style' : 'color: #000; top: 0; text-align: center;',
            'class' : 'grid-3sm-2big-small',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_Spa02.jpg',
            'href' : '/dining/'
        },
        {
            'title' : 'Escapes',
            'style' : 'color: #000; top: 0; text-align: left;',
            'class' : 'grid-3sm-2big-large',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_TurksAndCaicos_Cuisine01.jpg',
            'href' : '/escapes/'
        },
        {
            'title' : 'Courtyard Shops',
            'style' : 'color: #ffffff; bottom: 0; text-align: center;',
            'class' : 'grid-3sm-2big-small',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_Spa02.jpg',
            'href' : '/shops/'
        },
        {
            'title' : 'Watersports',
            'style' : 'color: #ffffff; bottom: 0; text-align: center;',
            'class' : 'grid-2sm-3big-large',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_TurksAndCaicos_Cuisine01.jpg',
            'href' : '/watersports/'
        },
        {
            'title' : 'Weddings',
            'style' : 'color: #000; top: 0; text-align: center;',
            'class' : 'grid-2sm-3big-small',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_Spa02.jpg',
            'href' : '/weddings/'
        },
        {
            'title' : 'The Spa at the Palms',
            'style' : 'color: #ffffff; bottom: 0; text-align: center;',
            'class' : 'grid-2sm-3big-large',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_TurksAndCaicos_Cuisine01.jpg',
            'href' : '/the-spa/'
        },
        {
            'title' : 'Events',
            'style' : 'color: #ffffff; top: 0; text-align: right;',
            'class' : 'grid-2sm-3big-small',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_Spa02.jpg',
            'href' : '/events/'
        },
        {
            'title' : 'Amenities',
            'style' : 'color: #000;bottom: 0; text-align: left;',
            'class' : 'grid-2sm-3big-large',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/thePalms_TurksAndCaicos_Cuisine01.jpg',
            'href' : '/amenities/'
        },        
    ]

%}
<div style="background-color: #f8f8f8;" style="height: 500px; border-top: 1px solid #fff; border-bottom: 1px solid #fff;">
     <div class="modular-row "  >
        <div class="modular-anchor" id="" data-scroll>            
            {% for button in navbuttons %}
                <a href="{{button.href}}">                    
                    <div class="{{cycle(['odd','even'], loop.index0)}} nav-grid-button {{button.class}}" style="width: {{button.size}};">
                        <img data-image="{{button.img}}" alt="{{button.alt | default('button nav image')}}" />
                        <div class="nav-grid-button-title " style="{{button.style}}">{{button.title}}</div>
                    </div>                   
                </a>
            {% endfor %}
            <div class="clearfix" style="clear: both;"></div>
        </div>
     </div>
</div>
<style>
.nav-grid-button {
    height: 250px;    
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
    float: left;
    background-color: #ccc;
    border: 1px solid #fff;
    overflow: hidden;
}


.nav-grid-button-title {
    position: absolute;
    padding: 12px;
    width: 100%;
}
.nav-grid-button img {
    width: auto;
    height: auto;
    
   
}
.grid-3sm-2big-small {width: 16%;}
.grid-3sm-2big-large { width: 26%;}
.grid-2sm-3big-small {width: 15.5%;}
.grid-2sm-3big-large {width: 23%;}

</style>
