{% set navbuttons = 
    [
        {
            'title' : 'Dining',
            'style' : 'color: #ffffff; top: 0; text-align:right;',
            'class' : 'grid-3sm-2big-small text-shadow-dark',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/dining-providenciales-turks-and-caicos.jpg',
            'href' : '/dining/'
        },
        {
            'title' : 'Honeymoons',
            'style' : 'color: #360d00; bottom: 0; text-align: center;',
            'class' : 'grid-3sm-2big-large text-shadow-light ',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/turks-and-caicos-honeymoon.jpg',
            'href' : '/honeymoons/'
        },
        {
            'title' : 'Families',
            'style' : 'color: #ffffff; bottom: 0; text-align: center;',
            'class' : 'grid-3sm-2big-small text-shadow-dark ',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/grace-bay-beach-fun.jpg',
            'href' : '/dining/'
        },
        {
            'title' : 'Escapes',
            'style' : 'color: #360d00; top: 0; text-align: left;',
            'class' : 'grid-3sm-2big-large text-shadow-light ',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/couples-escapes-turks-and-caicos.jpg',
            'href' : '/escapes/'
        },
        {
            'title' : 'Courtyard Shops',
            'style' : 'color: #ffffff; bottom: 0; text-align: center;',
            'class' : 'grid-3sm-2big-small text-shadow-dark',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/shopping-providenciales-turks-caicos.jpg',
            'href' : '/shops/'
        },
        {
            'title' : 'Watersports',
            'style' : 'color: #ffffff; bottom: 0; text-align: center;',
            'class' : 'grid-2sm-3big-large text-shadow-dark',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/watersports-the-palms-turks-and-caicos.jpg',
            'href' : '/watersports/'
        },
        {
            'title' : 'Weddings',
            'style' : 'color: #360d00; bottom: 0; text-align: center;',
            'class' : 'grid-2sm-3big-small text-shadow-light ',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/weddings-the-palms-turks-and-caicos.jpg',
            'href' : '/weddings/'
        },
        {
            'title' : 'The Spa at the Palms',
            'style' : 'color: #ffffff; top: 0; text-align: center;',
            'class' : 'grid-2sm-3big-large text-shadow-dark',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/the-spa-at-the-palms.jpg',
            'href' : '/the-spa/'
        },
        {
            'title' : 'Events',
            'style' : 'color: #ffffff; top: 0; text-align: right;',
            'class' : 'grid-2sm-3big-small text-shadow-dark',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/events-the-palms-turks-and-caicos.jpg',
            'href' : '/events/'
        },
        {
            'title' : 'Amenities',
            'style' : 'color: #fff;bottom: 0; text-align: left;',
            'class' : 'grid-2sm-3big-large text-shadow-dark ',
            'img' : '/wp-content/themes/wp-theme-fg/assets/images/templates/the-palms-turks-and-caicos-amenities.jpg',
            'href' : '/amenities/'
        },        
    ]

%}

<div class="modular-row modular-home-buttons"  >
   <div class="modular-anchor" id="" data-scroll>            
       {% for button in navbuttons %}
           <a href="{{button.href}}">                
               <div class="{{cycle(['odd','even'], loop.index0)}} nav-grid-button {{button.class}} fg-wow zoomIn " data-wow-offset="20" >
                   <div class="nav-grid-button-title " style="{{button.style}}">{{button.title}}</div>
                   <div class="nav-grid-image" data-background="{{button.img}}">           
                       
                   </div>
               </div>                
           </a>
       {% endfor %}
       <div class="clearfix" style="clear: both;"></div>
   </div>
</div>