{% extends 'base.twig' %}
{% block content %}

{% set content %}
<h1 class="archive-title">{{archive_title | default('Specials')}}</h1>
<ul id="blog-articles">
{% for article in posts %}
{# **************** setting up variables #}
	{% set title %}<a href="{{ article.link }}" title="{{ article.title | escape }}" itemprop="url"><h2 class="article-title hidden-sm hidden-xs" itemscope="name">{{article.title}}</h2></a>{% endset %}
	{% set sidebar_gallery = article.get_field('sidebar-gallery') %}
	{% set hasgallery = sidebar_gallery + 0 > 0  %}
{# **************** if has gallery then lets get first image to use in index. #}
	{% if hasgallery %}
		{% set content_pre %}
		<div class="col-md-3 col-md-push-9">
			<a href="{{ article.link }}" title="{{ article.title | escape }}" itemprop="url"><h2 class="article-title hidden-md hidden-lg" itemscope="name">{{article.title}}</h2></a>
			{% include 'get-feature-from-gallery.twig' with { id: sidebar_gallery,link: article.link } only %}
		</div>
		{% endset %}
	{% endif %}

{# **************** setting article content with summary #}
	{% set articleContent %}
		{{article.get_field('fg-summary')|striptags| truncate(35) }} <a class="article-full-story-link"  href="{{article.link}}">View Special</a>
		<div style="padding-top: 12px;"><a href="{{article.link}}" class="btn btn-primary" >View Special</a></div>
	{% endset %}

{# **************** settin object to padd to article content #}
	{% set obj = {
  article : article,
	title : title,
	articleContent : articleContent,
  class : "article-page-default",
  class_container: "row",
  class_main: hasgallery ? "col-md-9 col-md-pull-3" : 'col-md-12',
  content_pre : content_pre
  } %}

  <li>{% include "article/article-content.twig" with obj only %}</li>
{% endfor %}
</ul>
{# **************** pagination #}
{% include 'pagination.twig' %}
{% endset %}

{# **************** calling generic base template #}
{% include 'base-page.twig' with {
	page_class_content : 'col-sm-12',
	page_content : content
	}
%}
{% endblock %}
