<div class="main-content {{post.class}}">
	<div class="container">
		<div class="inner-container">
			{% include 'breadcrumbs.twig' ignore missing only %}
			<div class="row">
				<div class="{{page_class_content | default('col-sm-12')}}">
					<div class="column-wrapper">{{page_content}}</div>
				</div>
				{% if page_class_sidebar %}
				<div class="{{page_class_sidebar}}">
					<div id="sidebar">
						{% include 'sidebar-default.twig' ignore missing %}
						{% if page_widget_sidebar %}<ul class="widget-section">{{widget_page_sidebar}}</ul>
						{% endif %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
  </div>
</div>
