{% extends 'base.twig' %}
{% block content %}

{% set content %}
<h1>{{post.title}}</h1>
{% if post.get_field('intro-text') %}<div class="intro-text ">{{post.get_field('intro-text')}}</div>{% endif %}
{{post.content}}

{% if post.children is defined %}
<ul id="blog-articles" class="page-index-articles">
{% for article in post.children %}
{# **************** setting up variables #}
	{% set title %}<a href="{{ article.link }}" title="{{ article.title | escape }}" itemprop="url"><h2 class="article-title  hidden-xs" itemscope="name">{{article.title}}</h2></a>{% endset %}
	{% set sidebar_gallery = article.get_field('sidebar-gallery') %}
	{% set hasgallery = sidebar_gallery + 0 > 0  %}
{# **************** if has gallery then lets get first image to use in index. #}
	{% if hasgallery %}
		{% set content_pre %}
		<div class="col-md-3 col-md-push-9 col-sm-4 col-sm-push-8">
			<a href="{{ article.link }}" title="{{ article.title | escape }}" itemprop="url"><h2 class="article-title hidden-sm hidden-md hidden-lg" itemscope="name">{{article.title}}</h2></a>
			<div style="margin: 0 0 15px; max-width:300px;">
				{% include 'get-feature-from-gallery.twig' with { id: sidebar_gallery, link : article.link } only %}
			</div>
		</div>
		{% endset %}
	{% else %}
		{% set content_pre = null %}
	{% endif %}

{# **************** setting article content with summary #}
	{% set articleContent %}
		{{article.content|striptags| truncate(35) }} {#<a class="article-full-story-link"  href="{{article.link}}">More</a>#}
		<div style="padding-top: 12px;"><a href="{{article.link}}" class="btn btn-primary" >Full Details</a></div>
	{% endset %}

{# **************** settin object to padd to article content #}
	{% set obj = {
  article : article,
	title : title,
	articleContent : articleContent,
  class : "article-page-default",
  class_container: "row",
  class_main: hasgallery ? "col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4" : 'col-md-12',
  content_pre : content_pre
  } %}

  <li>{% include "article/article-content.twig" with obj only %}</li>
{% endfor %}
</ul>
{% endif %}
{% endset %}

{# **************** calling generic base template #}
{% include 'base-page.twig' with {
	page_class_content : 'col-sm-12',
	page_content : content
	}
%}
{% endblock %}
