{% extends 'base.twig' %}
{% block content %}	
<div class="main-content {{config.settings.pagelist.class |default('')}} {% if config.settings.pagelist.grid.right.class is defined %}sidebar{% endif %}">
    <div class="container">
        <div class="row">
            <div class="{{config.settings.breadcrumb.grid.class | default('col-sm-12')}}">
                {% include 'breadcrumbs.twig' ignore missing only %}
            </div>
        </div>	            
        <div class="row">
            <div class="{{config.settings.pagelist.grid.left.class | default('col-sm-12')}}">
                <div class="column-wrapper">
                    <h1>{{post.title}}</h1>
                    {{post.content}}
                    {% if post.children is defined %}
                    <ul class="index-container" >
                        {% for child in post.children %}
                            {% include 'article-list-element.twig' with {'article' : child }   %}
                        {% endfor %}                            
                    </ul>
                    {% endif %}     				
                </div>
            </div>
            {% if config.settings.pagelist.grid.right.class is defined %}
            <div class="{{config.settings.pagelist.grid.right.class}}">                       
                <div id="sidebar">
                    {% include 'sidebar-default.twig' ignore missing %}
                    <ul class="widget-section">
                        {{widget_page_sidebar}}
                    </ul>					
                </div>                            
            </div>
            {% endif %}
        </div>   
    </div>
</div>	       
{% endblock %}

