{% embed  "container-sidebar.twig" %}
{% block container %}
{{post.get_field('your_prefix_oembed')}}
    {% if function('function_exists','yoast_breadcrumb')  %}{{function('yoast_breadcrumb','<div id="breadcrumbs" class="B_crumbBox">','</div>', false)}}{% endif %}
    <article class="display-page" itemscope itemtype="http://schema.org/Article">
        <div class="article-blog-post-heading">
            <div ><span class="article-date" itemprop="datePublished">{{ post.date | date("F d, Y") }}</div>
        </div>    
        <h1 class="article-title" itemscope="name">{{ post.title }}</h1>	
        <div id="articleContent" itemprop="articleBody">{{  post.content }}</div><!-- articleContent -->								
        <div  class="article-footer" style="margin-bottom: 12px;">									
            <div class="posted-by">Posted by <span>{{post.author | default(site.title)}}</span></div>
            <div class="social-sharing">{% include 'social-sharing.twig' %}</div>
            {% include 'blog-tags-cats.twig' %}       
            <meta itemprop="author" content="{{post.author | default(site.title)}}" />
        </div>    
        
        
        {% if useDisqus %}
        <section id="comments">
            <h2 id="commentsTitle">{{settings.commentsText}}</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = '{{ settings.disqusUsername }}';
              var disqus_identifier = '{{ article.id }}';						  
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </section><!-- disqusWrapper -->
        {% endif %}
    
    </article>
   
    


{%endblock%}
{%endembed%}