<header>
	<div class="container">
		<div class="logo">
			<a href="{{site.url|e('html_attr')}}"><img data-image="http://www.missioninnresort.com/assets/images/template/logo-mission-inn-resort.png"></a>
			<p>Howey-in-the-Hills, FL</p>
			<p>800.874.9053 | 352.324.3101</p>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li>Menu<div><em></em><em></em><em></em><em></em></div></li>
					{% for item in menu.get_items %}
					<li>
						<a href="{{item.get_link|e('html_attr')}}">{{item.title}}{% if item.get_children %}<!--<div></div>-->{% endif %}</a>
						{% if item.get_children %}
						<!--<ul>
							{% for child in item.get_children %}
							<li><a href="{{child.get_link|e('html_attr')}}">{{child.title|e}}</a></li>
							{% endfor %}
						</ul>-->
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</header>