{# base.twig #}
<!DOCTYPE html>
<html {{site.language_attributes()}}>
    <head> 
        {{wp_head}}
        {% block head %}
            <!-- This is where you'll put template-specific stuff that needs to go in the head tags like custom meta tags, etc. -->
        {% endblock %}
		{% block styles %}{% endblock %}
    </head>
    <body class="{{body_class}}">
	<div id="header-container">
        {% if slideshow is defined and not slideshow is null %}
            {% include 'bootstrap-carousel.twig' with slideshow only %}
        {% else %}
            {% include 'custom-slideshow.twig' ignore missing only %}
        {% endif %}
        <div class="logo"><a href="/" style="color: transparent"><img data-image="{{config.settings.slideshow.logo.url}}" alt="{{site.name}}" class="fg-wow fadeIn"/></a></div>
        <div class="offers-container">
            <div class="offers-button book-now"><a href="" >Book Now</a></div>
            <div class="offers-button offers "><a href="" >&nbsp;&nbsp;Offers&nbsp;&nbsp;</a></div>
        </div>
    </div>

    
	{% include 'navigation.twig' %}
	{% block content %}<!-- The template's main content will go here. -->{% endblock %}
	{% block footer%}
		
	{% endblock %}	
	{% include "footer.twig" %}
	<!-- Modal -->
	<div id="general-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				{% include 'modal-inner.twig' with {title: '' , content : '' } %}
			</div>
		</div>
	</div>	{% block scripts %}{% endblock %}
	{{wp_footer}}
	
    </body>
</html>