<article class="article {{class}}" itemscope itemtype="http://schema.org/Article">
  {% set articleContent = article.content %}
  {{header}}

  {% if function('is_single') or function('is_page') %}
    <h1 class="article-title " itemscope="name">{% if article.get_field('_fgms_html_title_meta') %}{{article.get_field('_fgms_html_title_meta')}}{% else %}{{ article.title }}{% endif %}</h1>
  {% else %}
    <a href="{{ article.link }}" title="{{ article.title | escape }}" itemprop="url"><h2 class="article-title" itemscope="name">{{article.title}}</h2></a>
    {% set articleContent %}{% if article.post_excerpt|length > 10 %}{{article.post_excerpt}}{% else %}{{article.content| striptags| truncate(35) }} <a class="article-full-story-link"  href="{{article.link}}">Full Story</a>{% endif %}{% endset %}
  {% endif %}
  
  <meta itemprop="author" content="{{ article.author }}" />
  <div class="{{class_container}}" style="position:relative;" >
    {{content_pre}}
    {#{% include 'article/article-feature-image.twig' with article %} #}
    <div class="{{class_main}}">
      <div  itemprop="articleBody" class="article-body">{{articleContent}}</div><!-- articleContent -->
    </div>
  </div>
  {{content_post}}
</article>
