{% filter shortcodes %}
[accordion]
[panel title="Home"][/panel]
[panel title="Blog"][/panel]
[panel title="Latest Posts" active="true"]{% include 'blog-latest.twig' %}[/panel]
[panel title="By Month"]{{ get_archives }}[/panel]
[panel title="Categories"]{{get_categories}}[/panel]
[panel title="Tag Cloud"]
{% set tags = get_tags %}
<div class="tags">
  {% for tag in tags %}
  <a class="btn  btn-tag" style="margin-right: 4px;" href="{{site.url}}/tag/{{tag.slug}}">{{ tag.name }}</a>
  {% endfor %} 
</div>

[/panel]
[/accordion]
{% endfilter %}
