{# setting up tags and categories#}
{% if article.categories('category') %}
    {% set cats = [] %}
    {% for category in article.categories('category') %}
        {% set alink %}<a class="" href="{{ category.link }}">{{ category.name }}</a>{%endset%}
        {%set cats = cats|merge([alink])%}
    {% endfor %}
    {% if cats | length >= 1%}
    <div class="category">Categories: {{cats|join('<span class="seperator"> , </span>')}}</div>
    {% endif %}
{% endif %}
{% if article.terms('tags') %}
    <div class="tags">Tags: {% for tag in article.terms('tags') %}<a class="btn  btn-tag {% if false %}active{%endif%}" style="margin-right: 4px;" href="{{tag.link}}">{{ tag.name }}</a>{% endfor %} </div>
{% endif %}
