<ul class="{{class |default('nav navbar-nav')}}">
    {% for item in  menu.get_items  %}
        {% set marticle = function('Timber::get_post', item.ID)%}
        {% if item.get_children and childtype is defined and childtype == 'dropdown' %}
        <li class="dropdown {{item.classes | join(' ')}}">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{item.get_link|e('html_attr')}}">{{item.title}} <span class="caret"></span></a>
            {% set content = '' %}
            
            {% if item.meta('menu-item-mega_menu_template') %}
                {% set content = include(item.meta('menu-item-mega_menu_template'),{item: item},with_context = false,ignore_missing = true,sandboxed = true) %}
            {% endif %}
            {% if not content %}
                {% set content = include('megamenu.twig',{item: item},with_context = false,ignore_missing = true,sandboxed = true) %}
            {% endif %}
            {% if content  %}
                <div class="dropdown-menu mega-menu-nav">
                    <ul class="menu">
                        {% for child in item.get_children %}
                            <li><a href="{{child.get_link|e('html_attr')}}">{{child.title}}</a></li>
                        {% endfor %}
                        
                    </ul>
                    <div class="mega-menu-content">{{content|raw}}</div>                    
                </div>
             
                
            {% else %}
                <ul class="dropdown-menu menu">
                    {% for child in item.get_children %}
                        <li><a href="{{child.get_link|e('html_attr')}}">{{child.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% else %}
            <li {% if item.classes %}class="{{item.classes | join(' ')}}" {% endif %}><a data-menu-scroll href="{{ item.get_link }}">{{ item.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>