<nav class="navbar  script-navigation {{config.settings.navigation.class | default('')}}" role="navigation">
    <div class="navbar-header">			
        <a type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<div class="pull-left">Menu</div>
			<div class="pull-right" style="margin-top: 2px;">
				<span class="sr-only">Toggle Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>					
			</div>
			<div class="clearfix"></div>
        </a>
		{% if config.settings.header.logo is defined %}
		<a href="{{site.url|e('html_attr')}}" class="navbar-brand">
			<img data-image="{{theme.link}}{{config.settings.header.logo.url}}" alt="{{site.title}}">
			<noscript><img src="{{theme.link}}{{config.settings.header.logo.url}}" alt="{{site.title}}"></noscript>
		</a>
		{% endif %}		
    </div>
	<div class="navbar-collapse collapse ">		
		{% include 'menu.twig' with {menu: menu ,  childtype: 'dropdown'} only %}
	</div>
</nav>    


