{# base.twig #}
<!DOCTYPE html>
<html {{site.language_attributes()}}>
    <head>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        {{wp_head}}
        {% block head %}
            <!-- This is where you'll put template-specific stuff that needs to go in the head tags like custom meta tags, etc. -->
        {% endblock %}
		{% block styles %}
			{% if config.css is defined %}{% include 'style.twig' ignore missing with config  %}{% endif %}
		{% endblock %}
    </head>
    <body class="{{body_class}}">
	
	{% if slideshow is defined and not slideshow is null %}
		{% include 'bootstrap-carousel.twig' with slideshow only %}
	{% else %}
		{% include 'custom-slideshow.twig' ignore missing  %}
	{% endif %}
	{% include 'navigation.twig' %}
	{% block content %}<!-- The template's main content will go here. -->{% endblock %}
	{% block footer%}
		
	{% endblock %}	
	{% include "footer.twig" %}
	<!-- Modal -->
	<div id="general-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				{% include 'modal-inner.twig' with {title: '' , content : '' } %}
			</div>
		</div>
	</div>

	<div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				{% set contactform %}{% filter shortcodes %}[contact-form-7 id="4" ]{% endfilter %}{% endset %}
				
				{% include 'modal-inner.twig' with {title: 'Contact Us' , content :  contactform } %}
			</div>
		</div>
	</div>
	
	{# modal form #}
	{% if config.forms.modal.id is defined %}
	<div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				{% set contactform %}{% filter shortcodes %}[contact-form-7 id="{{config.forms.modal.id}}" ]{% endfilter %}{% endset %}				
				{% include 'modal-inner.twig' with {title: 'Contact Us' , content :  contactform } %}
			</div>
		</div>
	</div>
	{% endif %}
	
	{% block scripts %}
		<script type="text/javascript">
			{# debug scripts #}
			{% if config.ERRORS is defined %}
				{% for error in config.ERRORS %}
				console.error('SETTINGS.yml ERROR', '{{error|e('js')}}');
				{% endfor %}
			{% endif %}
		</script>
	
	{% endblock %}	
	{{wp_footer}}
	
    </body>
</html>