{% embed  "container-sidebar.twig" %}
{% block container %}
{% if function('function_exists','yoast_breadcrumb')  %}{{function('yoast_breadcrumb','<div id="breadcrumbs" class="B_crumbBox">','</div>', false)}}{% endif %}
<h1>Blog</h1>
<ul id="blog-articles">    
    {% for article in posts %}  
    <li>								
        <article  itemscope itemtype="http://schema.org/Article"> 
            <a href="{{ article.permalink }}" title="{{ article.title | escape }}" itemprop="url"><h2 itemprop="name">{{ article.title }}</h2></a>									
            <meta itemprop="author" content="{{ article.author }}" />
            <div  class="article-summary" itemprop="description">
                <div class="row">
                    {% if article.thumbnail %}<div class="col-sm-4 blog-index-image-full"><a href="{{ article.permalink }}"><img src="{{article.thumbnail.src|resize(150,150)}}" /></a> </div>{%endif%}
                    <div class="{% if article.thumbnail %}col-sm-8{%else%}col-sm-12{%endif%}">
                        <span class="articleDate" itemprop="datePublished"><b>{{ article.date | date("M d, Y") }}</b></span> - {{ article.content | striptags}} <a class="learn-more-link" href="{{ article.permalink }}">Full Story<i class="fa  fa-angle-double-right"></i></a></div>										 
                    </div>									   
                <div class="row" style="padding-top:12px;">
                    <div class="col-sm-6">{% include 'blog-tags-cats.twig' %}  </div>
                    <div class="col-sm-6 align-right-sm comment-link"> Comment	{{article.comments|length}}</div>
                </div>
            </div><!-- articleSummary -->								   
           		   
        </article><!-- articleWrapper -->
    </li>
    {% endfor %}							
</ul>
{% endblock%}
{%endembed%}