<footer class="footer">	
	<div class="container">		
		<div class="row">			
			<div class="{{config.settings.footer.grid.left | default('col-sm-6')}}">
				
				{% if config.settings.footer.logo is defined %}
				<div class="footer-logo">					
					<a href="{{site.url|e('html_attr')}}">
						<img class="" data-image="{{config.settings.footer.logo.url|e('html_attr')}}" alt="{{config.settings.footer.logo.alt|e('html_attr')}}" />
					</a>					
				</div>
				{% endif %}
				
				<div class="footer-text-wrapper">
					
					{% if config.phone.reservations is defined %}	<div>{{__('Reservations', 'fgms' ) }}: <span>{{config.phone.reservations|e}}</span></div>	{% endif %}
					{% if config.phone.resort is defined %}			<div>{{__('Resort', 'fgms' ) }}: <span>{{config.phone.resort|e}}</span></div>				{% endif %}
					{% if config.phone.fax is defined %}			<div>{{__('Fax', 'fgms' ) }}: <span>{{config.phone.fax|e}}</span></div>					{% endif %}			
					
					{% if config.email.info is defined %}			<div>{{__('Email', 'fgms' ) }}: <span>{{function('do_shortcode','[email]'~config.email.info~'[/email]')}}</span></div>	{% endif %}
					
					{# 
					<div class="footer-address">						
						{% if config.address is defined %}
						{{config.address.street}}, {{config.address.city}}, {{config.address.province}}, {{config.address.country}} {{config.address.postal}}
						{% endif %}						
						{% if config.privacy_policy is defined %} |	<a href="{{config.privacy_policy.url|e('html_attr')}}" rel="nofollow">Privacy Policy</a>{% endif %}						
					</div>
					#}
					
				</div>
				
				{# this is defined by settings.yaml file, and loops through all social #}
				{% if config.social is defined  %}
					{% if config.settings.footer.social.enable %}
					<div class="social-icons">							
							{% for social in config.social %}								
								{% if social.url is defined and social.url %}								
									<a href="{{social.url|e('html_attr')}}" target="_blank">
										{% if social.icon.outer is defined  %}
										<span class="fa-stack fa-lg ">
											<i class="fa {{social.icon.outer | default('fa-square-o')}} fa-stack-2x icon-outer"></i>
											<i class="fa {{social.icon.inner | default('fa-question-circle') }} fa-stack-1x icon-inner"></i>
										</span>
										{% else %}
											<i class="fa {{social.icon.inner | default('fa-question-circle') }} icon-inner" aria-hidden="true"></i>
										{% endif %}									
									</a>															
								{% endif %}							
							{% endfor %}						
					</div>
					{% endif %}
				{% endif %}
				
				<div class="footer-nav"></div>
				
				<div class="footer-copyright">				
					{% block copyright %}
					{% if config.settings.copyright is defined %}
					{% set year="now"|date("Y","UTC") %}
					&copy; Copyright
					{{config.settings.copyright.year|e}}{% if year!=config.settings.copyright.year %}-{{year|e}}{% endif %}
					|
					{% endif %}
					Site developed by Fifth Gear
					{% endblock %}					
				</div>				
			</div>
			
			<div class="{{config.settings.footer.grid.right | default('col-sm-6')}}">
				
				{% if config.forms.footer.id is defined %}
				<h3>Quick Message</h3>				
				{{function('do_shortcode','[contact-form-7 id="'~config.forms.footer.id~'"]')}}
				{% endif %}
				{# this is where footer widgets should go #}
				<div class="footer-sidebar-right">
					<div class="footer-navigation">
						<a href="" class="script-text">Check availability.</a>
						<a href="" class="script-text">Send us a message.</a>
					</div>
					<div class="footer-terms">
						<a href="" >Terms of Use </a> | <a href="" >Privacy Statement</a>
					</div>
				</div>
				
			</div>
			
		</div>
		
		<div class="row footer-copyright visible-xs visible-sm">
			<div class="col-md-12">{{block('copyright')}}</div>
		</div>
		
	</div>
	
</footer>

